.container{
    margin: 0 auto;
    width: 970px;
    background-color: grey;
}


form{
    display: inline-block;
    width: 400px;
    height: 400px;
    margin-top: 50px;
    margin-left: 20px;
    padding-top: 20px;
    padding-left: 30px;
}

.display{
    margin-left: 50px;
    width: 400px;
    text-align: center;
    display: inline-block;
    background-color: white;
    vertical-align: top;
    margin-top: 50px;
    padding-top: 20px;
}

.user{
    width: 300px;
    height: 100px;
    background-color: green;
    text-align: center;
    margin-left: 50px;
    margin-bottom: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
}

input{
    margin-right: 130px;
    margin-left: 20px;
}

#description{
    height: 100px;
    width: 200px;
    margin-bottom: 30px;
    grid-auto-rows: auto;
   
}

.details{
    display: none;
}